@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "railway";
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
}

header {
  background-color: blanchedalmond;
  width: 100%;
  height: auto;
}
header div {
  margin: 0 200px;
  padding: 7px;
}

h1 {
  display: inline-block;
  font-family: "railway", sans-serif;
  margin: 0;
}
nav {
  display: inline-block;
  width: 50vw;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: end;
}

li {
  margin: 10px;
}
a {
  text-decoration: none;
}
nav a {
  font-size: 1.2rem;
}

/* .section-container {
  margin: 0 200px;
} */

#hero-section {
  height: 50vw;
  margin: 0;
  background-image: url("./images/lions/heroLion.WebP");
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
#hero-contents {
  text-align: center;
}

#hero-section h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px;
}
#hero-contents p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

#seeMore {
  margin-top: 20px;
  padding: 10px;
  background-color: #dbad6a;
  border-radius: 5px;
  box-shadow: 2px 2px 0.5px grey;
}
#seeMore:hover {
  background-color: #481620;
  color: #dbad6a;
}

/* #hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Projects section */
#projects {
  display: block;
  margin: 0;
  background-color: #dbad6a;
  height: 45vh;
  width: 100%;
  padding: 5px;
}

#projects h2 {
  margin-top: 40px;
}

#projects-box {
  margin: 0 200px;
  background-color: #dbad6a;
}

#projects-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.box {
  background-color: #6d3b47;
  height: 200px;
  width: 200px;
  margin: 10px 20px 20px 20px;
  border-radius: 10px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  box-shadow: 5px 5px 2.5px grey;
  transition: transform 0.5s, ls ease-in-out;
}
.box p {
  padding: 5px 0 5px 10px;
  font-weight: 600;
  color: whitesmoke;
}
.box a {
  padding: 5px 0 5px 10px;
  color: orangered;
}
.box img {
  padding: 10px;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.box:hover {
  transform: scale(1.1);
}

/* About Section */
#about {
  color: white;
  background-color: #481620;
  display: flex;
  justify-content: center;
  height: 45vh;
  width: 100%;
}

#about-contents {
  background-color: #481620;
  margin: 0 200px;
  justify-content: center;
  height: 100%;
}

#about-items {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  height: 70%;
}

#about-contents img {
  margin-left: 20px;
  margin-right: 40px;
  width: auto;
  height: auto;
  object-fit: cover;
}

#about h2 {
  display: block;
  margin-top: 40px;
}

#about-contents p {
  display: inline-block;
  width: 100%;
  height: fit-content;
  font-size: 1.1rem;
}

/* Form section */

#contact {
  height: 45vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

#contact-box {
  margin: 0 200px;
  height: 100%;
  width: 50%;
}

#contact-box h2 {
  text-align: center;
  margin-top: 40px;
}

form {
  display: block;
}
label {
  display: inline-block;
  width: 30%;
  margin: 10px;
}

input {
  display: inline-block;
  width: 40%;
  margin: 10px;
}
textarea {
  display: inline-block;
  width: 40%;
  margin: 10px;
}

#buttonContainer {
  text-align: center;
  display: block;
}

#sendMessage {
  padding: 10px;
  background-color: #dbad6a;
  border-radius: 5px;
  box-shadow: 2px 2px 0.5px grey;
}

#sendMessage:hover {
  background-color: #481620;
  color: #dbad6a;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  width: auto;
}

#backToTop {
  position: relative;
  height: fit-content;
  width: fit-content;
  top: 250px;
  left: 80px;
  background-color: #dbad6a;
}
